@font-face {
	font-family: IRANSansX;
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/iransansx/woff/IRANSansX-Regular.woff') format('woff'),
	url('../fonts/iransansx/woff2/IRANSansX-Regular.woff2') format('woff2');
}

/* converting english numbers to persian numbers */
.ss02 {
    -moz-font-feature-settings: "ss02";
    -webkit-font-feature-settings: "ss02";
    font-feature-settings: "ss02";
}

body {
    font-family: "IRANSansX", serif;
    text-align:right !important;
}

.pagination {
    display: flex;
    list-style: none;
    gap: 5px;
}

.pagination .page-number {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    text-decoration: none;
    color: #333;
}

.pagination .current {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
}
