{% load static %}
{% load i18n %}

<!doctype html>
<html class="no-js"><!--------Theme Shered by Codingyar.com--------->

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block page_title %}{% endblock %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicons -->
    <link rel="shortcut icon" href="{% static "assets/img/favicon.ico" %}" type="image/x-icon">
    <link rel="apple-touch-icon" href="{% static "assets/img/icon.png" %}">

    <!-- ************************* CSS Files ************************* -->

    <link rel="stylesheet" href="{% static "assets/css/_base.css" %}">

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="{% static "assets/css/vendor.css" %}">

    <!-- style css -->
    <link rel="stylesheet" href="{% static "assets/css/main.css" %}">


</head>

<body dir='rtl'>
<!-- Main Wrapper Start -->
<div class="wrapper">
    <!-- Header Start -->
    {% include "header.html" %}
    <!-- Header End -->
    {% if messages %}
        <div class="container">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}

    {% block content %}

    {% endblock %}

    <!-- Mini Cart Start -->
    {% include "cart/cart_sidebar.html" %}
    <!-- Mini Cart End -->

    <!-- Footer Start-->
    {% include "footer.html" %}
    <!-- Footer End-->

    <!-- Search form Popup Start -->
    <div class="searchform__popup" id="searchForm">
        <a href="#" class="btn-close"><i class="flaticon flaticon-cross"></i></a>
        <div class="searchform__body">
            <p>در باکس زیر عبارت خود را وارد کنید</p>
            <form class="searchform">
                <input type="text" name="popup-search" id="popup-search" class="searchform__input"
                       placeholder="جستجو در بین محصولات...">
                <button type="submit" class="searchform__submit"><i class="flaticon flaticon-magnifying-glass-icon"></i>
                </button>
            </form>
        </div>
    </div>
    <!-- Search form Popup End -->


    <!-- Global Overlay Start -->
    <div class="ShoppingYar-global-overlay"></div>
    <!-- Global Overlay End -->

</div>
<!-- Main Wrapper End -->


<!-- ************************* JS Files ************************* -->

<!-- jQuery JS -->
<script src="{% static "assets/js/vendor.js" %}"></script>

<!-- Main JS -->
<script src="{% static "assets/js/main.js" %}"></script>

</body>

</html>